<div data-role="view" data-title="YESKINDIA - Registration" data-layout="main-nonav" data-model="app.register" data-show="app.register.onShow"
      data-after-show="app.register.afterShow" id="registerScreen" data-use-native-scrolling="true">
      <div class="wrapper wrapper-full-page">
          <div class="full-page login-page" filter-color="black" data-image="">
              <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
              <div class="content">
                  <div class="container">
                      <div class="row" style="margin-right: -22px;margin-left: -22px;">
                          <div class="leaderboard-cont leaderboard-green-blue">
                              <div class="heading" data-bind="text: strings.home.title,click : registerModel.gotohome"></div>
                              <div class="subheading" data-bind="text: strings.home.abbr"></div>
                              <div class="bar-1"></div>
                              <div class="ring-1"></div>
                              <div class="ring-1 inset"></div>
                              <div class="ring-2"></div>
                              <div class="ring-2 inset"></div>
                              <div class="icon">
                                  <img src="img/logo.png" style="width: 100%";/>
                              </div>
                          </div>
                      </div>
                      <div id="register-qr" style="z-index:1000;text-align: center;position: fixed;right:0;bottom:30px;width: 320px;" data-bind="click:registerModel.scan">
                        <br /><img src="/img/scanner.png" style="width:50%">
                    </div>
                      <div class="card">
                        <br/>
                        <h1 style="text-align: center;">
                          New/Edit Registration
                       </h1>
                        <div class="row">
                          <div class="col-sm-1">

                          </div>
                          <div class="col-sm-8">
                              <div class="row">
                                  <div class="col-sm-4">
                                    <div class="form-group">
                                      <label for="mobilenumber" class="bmd-label-floating">Mobile Number</label>
                                      <input type="text" maxlength="10" class="form-control" id="mobilenumber" data-bind="value: registerModel.mobilenumber, events :{ change:registerModel.findUser}">
                                    </div>
                                   
                                  </div>
                                  <div class="col-sm-2">
                                    <div class="form-group">
                                      <label for="qrId" class="bmd-label-floating">QR ID</label>
                                      <input type="text" class="form-control" id="qrId" data-bind="value: registerModel.qrId">
                                    </div>
                                  </div>
                                  <div class="col-sm-4">
                                    <div class="form-group">
                                      <label for="mname" class="bmd-label-floating">Member Name</label>
                                      <input type="text" class="form-control" id="mname" data-bind="value: registerModel.mname">
                                    </div>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <label for="clubname" class="bmd-label-floating">Club</label>
                                    <input type="text" class="form-control" id="clubname" data-bind="value: registerModel.clubname">
                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <label for="region" class="bmd-label-floating">Region</label>
                                    <input type="text" class="form-control" id="region" data-bind="value: registerModel.region">
                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="optionsRadios" value="M" data-bind="checked: registerModel.genderValue">
                                        Male
                                      </label>
                                    </div>
                    
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="optionsRadios" value="F"  data-bind="checked: registerModel.genderValue">
                                        Female
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                
                              </div>
                              
                              <div class="row">
                                <div class="col-sm-3">
                                  <div class="form-group">
                                    <label for="membercount" class="bmd-label-floating">Family Members</label>
                                    <input type="number" max="10" class="form-control" id="membercount" data-bind="value: registerModel.membercount">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="carno" class="bmd-label-floating">Car Number</label>
                                  <input type="text" class="form-control" id="carno" data-bind="value: registerModel.carno">
                                </div>
                              </div>
                              <div class="row">
                                <button type="button" id="registerBtn" class="btn btn-default pull-left" data-bind="click:registerModel.registerReset">Reset</button>
                                <button type="button" id="resetbtn" class="btn btn-rose pull-right" data-bind="click: registerModel.register">Register Member</button>
                              </div>
                          </div> 
                          <div class="col-sm-2">
                            <div class="form-group">
                              <label for="autocomplete" class="bmd-label-floating">Find Member</label>
                              <input type="text" class="k-input" style="width: 100%;" 
                              id="autocomplete" data-role="autocomplete" data-text-field="memberName" 
                              data-bind="value: registerModel.selectedMember, events:{select : registerModel.select">
                            </div>
                          </div>

                      </div>
                      <hr/>
                      <div class="row">
                        <div class="col-sm-12" id="familydetails"></div>
                      </div> 
                  </div>
              </div>
              <footer class="footer">
                  <div class="container-fluid">
                      <p class="copyright pull-right text-white" style="color:white">
                          &copy;
                          <a style="color:white" data-bind="text:strings.home.company"> YeskIndia </a> <span
                              data-bind="text: strings.home.moto"></span>
                      </p>
                  </div>
              </footer>
          </div>
      </div>
  </div>
<script type="text/x-kendo-template" id="familyTemplate"> 

  # if(detail && detail != null){ var count = data - detail.response.length; for (var i =0; i< detail.response.length;i++){#
    <div class="row" style="margin-left:20px;">
      <div class="col-sm-2">
        <div class="form-group">
          <label for="qrId${i}" class="bmd-label-floating">QR Id</label>
          <input type="text" class="form-control" value="${detail.response[i].qrId}" id="qrId${i}">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="name${i}" class="bmd-label-floating">Name</label>
          <input type="text" class="form-control" value="${detail.response[i].id.name}"  id="name${i}">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="age${i}" class="bmd-label-floating">Age</label>
          <input type="number" max="100" value="${detail.response[i].age}"  class="form-control" id="age${i}">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <div class="radio">
            <label>
              #if(detail.response[i].gender == "M") {#
              <input type="radio" name="optionsRadios${i}" value="M" checked />
              #}else {#
                <input type="radio" name="optionsRadios${i}" value="M" />
                #}#
              Male
            </label>
          </div>
          <div class="radio">
            <label>
              #if(detail.response[i].gender == "F") {#
                <input type="radio" name="optionsRadios${i}" value="F" checked>
                #}else {#
                  <input type="radio" name="optionsRadios${i}" value="F" >
                  #}#
              Female
            </label>
          </div>
        </div>
      </div>
    </div>
  #}}#
  
  <div class="row">
    <div class="col-sm-2">
      <button type="button" class="btn btn-rose pull-right" id="registerFamily">Add Family</button>
    </div>
  </div>                                             
</script>