<div data-role="view" data-title="Home" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow"
    data-after-show="app.home.afterShow" id="homeScreen" data-use-native-scrolling="true">
    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="black" data-image="">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="row" style="margin-right: -22px;margin-left: -22px;">
                        <div class="leaderboard-cont leaderboard-green-blue">
                            <div class="heading" data-bind="text: strings.home.title"></div>
                            <div class="subheading" data-bind="text: strings.home.abbr"></div>
                            <div class="bar-1"></div>
                            <div class="ring-1"></div>
                            <div class="ring-1 inset"></div>
                            <div class="ring-2"></div>
                            <div class="ring-2 inset"></div>
                            <div class="icon">
                                <img src="img/logo.png" style="width: 100%";/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">

                            <form>
                                <div class="card card-login card-hidden">
                                    <p style="padding: 5px;right:0px"> <a href="javascript:void()" data-bind="events:{click:homeModel.eng}">English</a> | <a href="javascript:void()" data-bind="events:{click:homeModel.tam}">தமிழ்</a>  </p>
                                    <div class="card-content">
                                        <div class="row">
                                            <table class="table">
                                                <tr data-template="homeTemplate" data-bind="source: homeModel.cameras"></tr>
                                            </table>
                                            <div class="col-12 col-sm-6">
                                                <div id="scanner" data-bind="events:{ click : homeModel.scanme }" style="text-align: center;max-height: 450px;">
                                                    <br />
                                                    <img 
                                                        src="/img/scanner.png" style="width:50%">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <h4 style="text-align: center;" data-bind="text: strings.home.welcome">
                                                </h4>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">face</i>
                                                    </span>

                                                    <div class="form-group" style="width: 80%;">
                                                        <label class="control-label" data-bind="text: strings.home.username"></label>
                                                        <input type="text" class="form-control" id="login-username"
                                                        data-bind="value: homeModel.username">
                                                    </div>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                    <div class="form-group" style="width: 80%;">
                                                        <label class="control-label" data-bind="text: strings.home.password"></label>
                                                        <input type="password" class="form-control" id="login-password"
                                                            data-bind="value: homeModel.password">
                                                    </div>
                                                </div>
                                                <div class="footer text-center">
                                                    <button type="button"
                                                        data-bind="events:{ click : homeModel.signin}, text: strings.home.submit"
                                                        class="btn btn-rose btn-simple btn-wd btn-lg"></button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right text-white" style="color:white">
                        &copy;
                        <a style="color:white" data-bind="text:strings.home.company"> YeskIndia </a> <span
                            data-bind="text: strings.home.moto"></span>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>
<script type="text/x-kendo-template" id="homeTemplate"> 
        <td> 
            <button data-bind="click: homeModel.switchCam" type="button" rel="tooltip" title="Switch" class="btn btn-danger btn-simple btn-xs">
                ${name}
            </button>
        </td>                                              
  </script>