<div data-role="view" data-title="Dashboard" data-layout="main-nonav" data-model="app.dash" data-show="app.dash.onShow"
    data-after-show="app.dash.afterShow" id="dashScreen" data-use-native-scrolling="true">
    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="black" data-image="">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="row" style="margin-right: -22px;margin-left: -22px;">
                        <div class="leaderboard-cont leaderboard-green-blue">
                            <div class="heading" data-bind="text: strings.home.title"></div>
                            <div class="subheading" data-bind="text: strings.home.abbr"></div>
                            <div class="bar-1"></div>
                            <div class="ring-1"></div>
                            <div class="ring-1 inset"></div>
                            <div class="ring-2"></div>
                            <div class="ring-2 inset"></div>
                            <div class="icon">
                                <img src="img/logo.png" style="width: 100%";/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">

                            <form>
                                <div class="card card-login card-hidden">
                                    <h4 style="text-align: center;" data-bind="text: strings.home.welcome">
                                    </h4>
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col-12 col-sm-4">
                                                <div id="sport-qr" style="text-align: center;">
                                                    <br /><img src="/img/scanner.png" style="width:50%">
                                                </div>
                                                <br/>
                                                <h1>Links</h1>
                                                <div class="col-12 col-sm-6">
                                                    <a href="javascript:void(0)" onclick="app.redirect(107)">
                                                        Registration Page
                                                    </a>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <a href="javascript:void(0)" onclick="app.redirect(112)" >
                                                        Search Page
                                                    </a>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <a href="javascript:void(0)" onclick="app.redirect(104)" >
                                                        Sports Page
                                                    </a>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <a href="javascript:void(0)" onclick="app.redirect(101)" >
                                                        Vendor Page
                                                    </a>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <a href="javascript:void(0)" onclick="app.redirect(111)" >
                                                        Student Registration Page
                                                    </a>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <a href="javascript:void(0)" onclick="app.redirect(112)" >
                                                        Search Page
                                                    </a>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <a href="javascript:void(0)" onclick="app.redirect(113)" >
                                                        Search Student Page
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-7"> 
                                                <h1>IAM</h1>
                                                <div class="row adminclass">
                                                    <div class="col-6 col-sm-3">
                                                        <div class="form-group">
                                                            <label for="userType">User Type</label>
                                                            <select class="form-control" id="userType">
                                                                <option value="100">ADMIN</option>
                                                                <option value="101">VENDOR</option>
                                                                <option value="102">MEMBER</option>
                                                                <option value="103">RECHARGE</option>
                                                                <option value="104">SPORTS</option>
                                                                <option value="105">STUDENT</option>
                                                                <option value="106">FAMILY</option>
                                                                <option value="107">REGISTRAR</option>
                                                                <option value="108">ORGANIZER</option>
                                                                <option value="109">MEDIA</option>
                                                            </select>
                                                          </div>                                              
                                                    </div>
                                                    <div class="col-6 col-sm-2">
                                                        <button type="button" data-bind="events:{ click : dashModel.getStatus }" class="btn btn-info">
                                                            Info
                                                        </button>
                                                    </div>
                                                    <div class="col-6 col-sm-2">
                                                        <button type="button" data-bind="events:{ click : dashModel.grant }" class="btn btn-success">
                                                            Grant
                                                        </button>
                                                    </div>
                                                    <div class="col-6 col-sm-2">
                                                        <button type="button" data-bind="events:{ click : dashModel.revoke }" class="btn btn-danger">
                                                            Revoke
                                                        </button>
                                                    </div>
                                                    <div class="col-6 col-sm-2">
                                                        <button type="button" data-bind="events:{ click : dashModel.reset }" class="btn btn-default ">
                                                            Reset
                                                        </button>
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <h1>Maintain Game</h1>
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <select class="form-control" id="gameType" style="width: 100%;">
                                                                        <option value="CRICKET">CRICKET</option>
                                                                        <option value="BASKETBALL">BASKETBALL</option>
                                                                        <option value="TENNIS">TENNIS</option>
                                                                    </select>
                                                                  </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Points values</label>
                                                                    <input type="number" class="form-control" data-bind="value: dashModel.pointsvalue">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <button type="button" class="btn btn-success pull-left">Change</button>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <!--Stall Register-->
                                                <div class="row">
                                                    
                                                    <div class="col-12">
                                                        <h1>Stall Register</h1>

                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">QR ID</label>
                                                                    <input type="text" class="form-control" data-bind="value: dashModel.qrid" >
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Name</label>
                                                                    <input type="text" class="form-control" data-bind="value: dashModel.vndname" >
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <select class="form-control" id="vendorType" style="width: 100%;">
                                                                        <option value="101">VENDOR</option>
                                                                        <option value="104">SPORTS</option>
                                                                    </select>
                                                                  </div>
                                                            </div>
                                                        </div>
                                
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Owner Name</label>
                                                                    <input type="text" class="form-control" data-bind="value: dashModel.owner" >
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Phone</label>
                                                                    <input type="text" class="form-control" data-bind="value: dashModel.phone" >
                                                                </div>
                                                            </div>
                                                        </div>
                                
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Adress</label>
                                                                    <input type="text" class="form-control" data-bind="value: dashModel.address" >
                                                                </div>
                                                            </div>
                                                        </div>
                                
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">GSTN</label>
                                                                    <input type="text" class="form-control" data-bind="value: dashModel.gstn" >
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">City</label>
                                                                    <input type="text" class="form-control" data-bind="value: dashModel.city" >
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Postal Code</label>
                                                                    <input type="text" class="form-control" data-bind="value: dashModel.zipcode" >
                                                                </div>
                                                            </div>
                                                        </div>
                            
                                                        <button type="button" class="btn btn-danger pull-left">Reset</button>
                                                        <button type="button" class="btn btn-rose pull-right" data-bind="click: dashModel.register">Register Vendor</button>
                                                        <div class="clearfix"></div>
                                                        <hr/>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right text-white" style="color:white">
                        &copy;
                        <a style="color:white" data-bind="text:strings.home.company"> YeskIndia </a> <span
                            data-bind="text: strings.home.moto"></span>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>