<div data-role="view" data-title="leader" data-layout="main-nonav" data-model="app.leader" data-show="app.leader.onShow"
    data-after-show="app.leader.afterShow" id="leaderScreen" data-use-native-scrolling="true">
    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="black" data-image="">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="wrapper">
                                <div class="list">
                                    <div class="list__header">
                                        <h1>OVERALL CHAMPION</h1>
                                        <h5>JUNIOR MALE</h5>
                                    </div>
                                    <div class="list__body">
                                        <table class="list__table" id="leaderboardhtml">
                                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="footer">
                        <div class="container-fluid">
                            <p class="copyright pull-right text-white" style="color:white">
                                &copy;
                                <a style="color:white" data-bind="text:strings.home.company"> YeskIndia </a> <span
                                    data-bind="text: strings.home.moto"></span>
                            </p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    <script type="text/x-kendo-template" id="leaderboardhtmlTemplate">
        #for (var i=0;i< data.length;i++) { #
        <tr class="list__row">
            <td class="list__cell"><span class="list__value">10</span></td>
            <td class="list__cell"><span class="list__value">Carlos
                    Sainz</span><small class="list__label">Driver</small></td>
            <td class="list__cell"><span class="list__value">Renault</span><small
                    class="list__label">Constructor</small></td>
            <td class="list__cell"><span class="list__value">19</span><small
                    class="list__label">Points</small></td>
        </tr>
        # }#
    </script>