<div data-role="view" data-title="sports" data-layout="main-nonav" data-model="app.sports" data-show="app.sports.onShow"
    data-after-show="app.sports.afterShow" id="sportsScreen" data-use-native-scrolling="true">
    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="black" data-image="">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="row" style="margin-right: -22px;margin-left: -22px;">
                        <div class="leaderboard-cont leaderboard-green-blue">
                            <div class="heading" data-bind="text: strings.home.title"></div>
                            <div class="subheading" data-bind="text: strings.home.abbr"></div>
                            <div class="bar-1"></div>
                            <div class="ring-1"></div>
                            <div class="ring-1 inset"></div>
                            <div class="ring-2"></div>
                            <div class="ring-2 inset"></div>
                            <div class="icon">
                                <img src="img/logo.png" style="width: 100%";/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12">

                            <form>
                                <div class="card card-login card-hidden">
                                    <h4 style="text-align: center;" data-bind="text: strings.home.welcome">
                                    </h4>
                                    <h4 style="text-align: center;" data-bind="text: sportsModel.sport">
                                    </h4>
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div id="sport-qr" style="text-align: center;">
                                                    <br /><img src="/img/scanner.png" style="width:50%">
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-3">
                                                <button type="button" data-bind="events:{ click : sportsModel.play }" class="btn btn-info">
                                                    <span class="btn-label">
                                                      <img src="/img/game.png">
                                                    </span>
                                                    Play
                                                  </button type="button">
                                                  
                                            </div>
                                            <div class="col-6 col-sm-3">
                                                <button type="button" data-bind="events:{ click : sportsModel.winner }" class="btn btn-success">
                                                    <span class="btn-label">
                                                        <img src="/img/cup.png">
                                                    </span>
                                                    Winner
                                                  </button>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right text-white" style="color:white">
                        &copy;
                        <a style="color:white" data-bind="text:strings.home.company"> YeskIndia </a> <span
                            data-bind="text: strings.home.moto"></span>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>